<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lap Times</title>
    <meta name="description" content="Displaying data in the web">
    <meta name="author" content="cm1800">

    <meta property="og:title" content="Data Analytics">
    <meta property="og:type" content="website">
    <meta property="og:url" content="localhost:5000">
    <meta property="og:description" content="Displaying data in the web">

    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>

<body">
    {% block head %}{% endblock %}
    {% block content %}{% endblock %}
</body>
</html>