{% extends 'base.html' %}
{% block content %}
    <script src=" {{ url_for('static', filename='live.js') }} " type="text/javascript" charset="utf-8"></script>
    <div class="columns">
        <div class="column is-2"></div>
        <div class="column is-8">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" id="lapTable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>lap Number</th>
                        <th>Lap Time</th>
                        <th>Difference</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="column is-2"></div>
    </div>
    <div class="modal" id="submit_modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box has-text-centered">
                <form action="/live" method="post">
                    <h1 class="subtitle">Please enter a name for the dataset without spaces</h1>
                    <input class="input" name="id" type="text" placeholder="Example: Thursday_Accel"/>
                    <input class="button is-submit" type="submit" name="submit_data" value="Submit Time">
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick='toggle_modal()'></button>
    </div>
    <button class="button" onclick='toggle_modal()'>Submit Dataset</button>
{% endblock %}