{% extends "base.html" %}

{% block content %}
<script>
    $(document).ready(function() {
        var table = $('#lapdata').DataTable();
        $("#nameChange").click(function(){
            $("#formModal").toggleClass('is-active')
        })
        $("#closeModal").click(function(){
            $("#formModal").toggleClass('is-active')
        })
    });
</script>
<link rel="stylesheet" href="{{ url_for('.static', filename='dataTables.bulma.min.css') }}">
<script src="{{ url_for('main.static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('main.static', filename='dataTables.bulma.min.js') }}"></script>
<script src="{{ url_for('main.static', filename='live.js') }}"></script>
<div class="container">
    <div class="box">
        <div class="row">
            <div class="col-4">
            <div class="has-text-centered">
                <h3 class="title">{{ title }}</h3>
                <button class="button" id="nameChange">Change Dataset Name</button>
            </div>
                <table id="lapdata" class="table is-striped is-hoverable" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Difference</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="formModal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <form method="POST" action="/main/records/{{ title }}">
                <h6 class="subtitle is-6">Enter a name not containing spaces</h6>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="name" name="name" placeholder="Dataset Name" autofocus="">
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Submit New Dataset Name</button>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" id="closeModal"></button>
</div>
{% endblock %}
